# vi: filetype=sh

alias open='xdg-open'

alias slc='sudo $(fc -ln -1)'

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias ls='ls --color=auto'
alias ll='ls -lAh'
alias lsf='find -type f'
alias lsd='find -type d'

alias pgrep='pgrep -af'
alias jobs='jobs -l'

alias ...='cd ../..'
function -() { cd -; }

if [ -n "$BASH" ]; then
  alias ..='cd ..'
  alias ~='cd ~'
fi

function cdls() { cd $1 && ls -lAh; }
function mkcd() { mkdir -p $1 && cd $1; }
function rmr() { if [ -d $1 ]; then rm -r $1; else rm $1; fi }

alias grep='grep -is --color'
alias ngrep='grep -n'
alias rgrep='rgrep -ins --color'

alias cal='ncal -M -b'

alias df='df -h'
alias du='du -h'

alias free='free -ht'

alias rsync='rsync --progress'

alias off='sudo shutdown -h now'
alias hibernate='sudo systemctl hibernate'
alias suspend='sudo systemctl suspend'

alias passgen='pwgen -1B'

alias calc='calc -d'

alias ts='tig status'

alias ports='netstat -tunlp'

alias public_ip='curl icanhazip.com'

alias ssh='TERM=xterm ssh'


alias ga='git add'
alias gb='git branch'
alias gbc='git rev-parse --abbrev-ref HEAD'
alias gch='git checkout'
alias gcb='git checkout -b'
alias gcp='git cherry-pick'
alias gcl='git clone'
alias gc='git commit'
alias gca='git commit --amend'
alias gd='git diff'
alias gf='git fetch'
alias gi='git init'
alias gl='git log --pretty'
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gs='git status'
alias gsh='git stash'
alias gbd='git branch -D'

if [ -n "$ZSH_NAME" ]; then
  compdef _git ga=git-add
  compdef _git gb=git-branch
  compdef _git gch=git-checkout
  compdef _git gcp=git-cherry-pick
  compdef _git gcl=git-clone
  compdef _git gc=git-commit
  compdef _git gd=git-diff
  compdef _git gf=git-fetch
  compdef _git gi=git-init
  compdef _git gl=git-log
  compdef _git gm=git-merge
  compdef _git gpl=git-pull
  compdef _git gps=git-push
  compdef _git gs=git-status
  compdef _git gsh=git-stash
fi


alias rl='rails'
alias rls='rails s'
alias rlc='rails c'
alias rlg='rails g'
alias rld='rails d'
alias rdbc='rails dbconsole'

alias bd='bundle'
alias bde='bundle exec'
alias bdl='bundle list'
alias bdi='bundle install'
alias bdu='bundle update'
alias bdo='bundle open'

alias rk='rake'
alias rkap='rake assets:precompile'
alias rkdc='rake db:create'
alias rkdd='rake db:drop'
alias rkdr='rake db:rollback'
alias rkdst='rake db:setup'
alias rkdm='rake db:migrate'
alias rkds='rake db:seed'
alias rkr='rake routes'

alias gel='gem list'
alias gei='gem install'

alias rvl='rvm list'
alias rvu='rvm use'
alias rvg='rvm gemset'
alias rvgl='rvm gemset list'
alias rvgu='rvm gemset use'

alias rsp='rspec'


alias mps='mix phoenix.server'
alias mpr='mix phoenix.routes'
alias megm='mix ecto.gen.migration'
alias mec='mix ecto.create'
alias med='mix ecto.drop'
alias mem='mix ecto.migrate'
alias mer='mix ecto.rollback'
alias mes='mix ecto.migrations'
alias iex='iex -S mix'
alias ies='iex phoenix.server'


local=~/.aliases.local; [ -f $local ] && . $local
