# vi: filetype=sh

alias open='xdg-open'

alias slc='sudo $(fc -ln -1)'

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias ls='ls --color=auto'
alias ll='ls -lAh'
alias lsf='find -type f'
alias lsd='find -type d'

alias pgrep='pgrep -af'
alias jobs='jobs -l'

alias ...='cd ../..'
function -() { cd -; }
function \=() { calc $*; }

if [ -n "$BASH" ]; then
  alias ..='cd ..'
  alias ~='cd ~'
fi

alias ppp='echo $PATH | tr -s ":" "\n"'

function cdls() { cd $1 && ls -lAh; }
function mkcd() { mkdir -p $1 && cd $1; }
function rmr() { if [ -d $1 ]; then rm -r $1; else rm $1; fi }

alias grep='grep -is --color'
alias ngrep='grep -n'
alias rgrep='rgrep -ins --color'

alias cal='ncal -M -b'

alias df='df -h'
alias du='du -h'

alias dir_size='du -sh'
alias file_size='du -shc'

alias free='free -ht'

alias rsync='rsync --progress'

alias off='sudo shutdown -h now'
alias hibernate='sudo systemctl hibernate'
alias suspend='sudo systemctl suspend'

alias passgen='pwgen -1B'

alias calc='calc -d'

alias ts='tig status'

alias ports='netstat -tunlp'

alias public_ip='curl icanhazip.com'

alias ssh='TERM=xterm ssh'

alias ga='git add'
alias gb='git branch'
alias gbd='git branch -D'
alias gbc='git rev-parse --abbrev-ref HEAD'
alias gch='git checkout'
alias gcb='git checkout -b'
alias gcp='git cherry-pick'
alias gcl='git clone'
alias gc='git commit'
alias gca='git commit --amend'
alias gd='git diff'
alias gf='git fetch'
alias gi='git init'
alias gl='git log --pretty'
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gs='git status'
alias gsh='git stash'
alias gsu='git submodule update --remote'

if [ -n "$ZSH_NAME" ]; then
  compdef _git ga=git-add
  compdef _git gb=git-branch
  compdef _git gch=git-checkout
  compdef _git gcp=git-cherry-pick
  compdef _git gcl=git-clone
  compdef _git gc=git-commit
  compdef _git gd=git-diff
  compdef _git gf=git-fetch
  compdef _git gi=git-init
  compdef _git gl=git-log
  compdef _git gm=git-merge
  compdef _git gpl=git-pull
  compdef _git gps=git-push
  compdef _git gs=git-status
  compdef _git gsh=git-stash
fi

alias rl='bundle exec rails'
alias rls='bundle exec rails s'
alias rlc='bundle exec rails c'
alias rlg='bundle exec rails g'
alias rld='bundle exec rails d'
alias rldbc='bundle exec rails dbconsole'
alias rlap='bundle exec rake assets:precompile'
alias rldc='bundle exec rake db:create'
alias rldd='bundle exec rake db:drop'
alias rldr='bundle exec rake db:rollback'
alias rldst='bundle exec rake db:setup'
alias rldm='bundle exec rake db:migrate'
alias rlds='bundle exec rake db:seed'
alias rlr='bundle exec rake routes'
alias rlsc="bundle exec rake secret"

alias bd='bundle'
alias bde='bundle exec'
alias bdl='bundle list'
alias bdi='bundle install'
alias bdil='bundle install --path ./.bundle'
alias bdu='bundle update'
alias bdo='bundle open'

alias rk='bundle exec rake'
alias rsp='bundle exec rspec'

alias gel='gem list'
alias gei='gem install'
alias geu='gem uninstall'

alias rvl='rvm list'
alias rvu='rvm use'
alias rvi='rvm install'
alias rvd='rvm remove'
alias rvg='rvm gemset'
alias rvgl='rvm gemset list'
alias rvgu='rvm gemset use'
alias rvgc='rvm gemset create'
alias rvgd='rvm gemset delete'

alias rbc='bundle exec rubocop'

alias mdg='mix deps.get'
alias mps='mix phoenix.server'
alias mpr='mix phoenix.routes'
alias megm='mix ecto.gen.migration'
alias mec='mix ecto.create'
alias med='mix ecto.drop'
alias mem='mix ecto.migrate'
alias mer='mix ecto.rollback'
alias mes='mix ecto.migrations'
alias mdi='mix dialyzer'
alias mcr='mix credo'
alias mfo='mix format'
alias mte='mix test'
alias mtf='mix test --failed'
alias mrn='mix run --no-halt'
alias mse='mix ecto.create && mix ecto.migrate'
alias mre='mix ecto.drop && mix ecto.create && mix ecto.migrate'
alias iem='iex -S mix'
alias ies='iex phoenix.server'

alias dkil='docker image ls'
alias dkcl='docker container ls'
alias dkex='docker exec -it'
alias dkrn='docker run -it'
alias dkpr='docker system prune -a --volumes'

alias dcup='docker-compose up'
alias dcdn='docker-compose down'
alias dcrs='docker-compose restart'
alias dcbd='docker-compose build'
alias dcrn='docker-compose run'
alias dcex='docker-compose exec'
alias dcil='docker-compose images'
alias dccl='docker-compose ps'

local=~/.aliases.local; [ -f $local ] && . $local
