alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias ls='ls --color=auto'
alias lla='ls -lAh'

alias pgrep='pgrep -af'
alias jobs='jobs -l'

alias rmr='rm -r'

if [ -n "$BASH" ]; then
  alias ..='cd ..'
  alias ...='cd ../..'
  alias ~='cd ~'
  function -() { cd -; }
fi

alias grep='grep -ins --color'
alias rgrep='rgrep -ins --color'

alias cal='ncal -M -b'

alias df='df -h'
alias du='du -h'

alias free='free -h'

alias rsync='rsync --progress'

alias off='sudo shutdown -h now'
alias hibernate='sudo systemctl hibernate'
alias suspend='sudo systemctl suspend'

alias passgen='pwgen -1B'

alias ssh='TERM=xterm ssh'

alias ga='git add'
alias gb='git branch'
alias gbr='git branch'
alias gbc='git rev-parse --abbrev-ref HEAD'
alias gch='git checkout'
alias gco='git checkout'
alias gcb='git chechout -b'
alias gcp='git cherry-pick'
alias gcl='git clone'
alias gc='git commit'
alias gci='git commit'
alias gcf='git config'
alias gd='git diff'
alias gf='git fetch'
alias gg='git grep'
alias gi='git init'
alias gl='git log'
alias glp='git log --pretty'
alias gm='git merge'
alias gmv='git move'
alias gpl='git pull'
alias gps='git push'
alias grm='git rm'
alias gs='git status'
alias gst='git status'
alias gsh='git stash'

if [ -n "$ZSH_NAME" ]; then
  compdef _git ga=git-add
  compdef _git gb=git-branch
  compdef _git gbr=git-branch
  compdef _git gch=git-checkout
  compdef _git gco=git-checkout
  compdef _git gcb=git-checkout
  compdef _git gcp=git-cherry-pick
  compdef _git gcl=git-clone
  compdef _git gc=git-commit
  compdef _git gci=git-commit
  compdef _git gcf=git-config
  compdef _git gd=git-diff
  compdef _git gf=git-fetch
  compdef _git gg=git-grep
  compdef _git gi=git-init
  compdef _git gl=git-log
  compdef _git glp=git-log
  compdef _git gm=git-merge
  compdef _git gmv=git-move
  compdef _git gpl=git-pull
  compdef _git gps=git-push
  compdef _git grm=git-rm
  compdef _git gs=git-status
  compdef _git gst=git-status
  compdef _git gsh=git-stash
fi

alias rl='rails'
alias rls='rails s'
alias rlc='rails c'
alias rlg='rails g'
alias rld='rails d'
alias rcd='rails dbconsole'

alias bdl='bundle'
alias bdle='bundle exec'
alias bdll='bundle list'
alias bdli='bundle install'
alias bdlu='bundle update'
alias bdlot='bundle outdated'
alias bdlc='bundle check'
alias bdls='bundle show'
alias bdlo='bundle open'

alias rk='rake'
alias rap='rake assets:precompile'
alias rdc='rake db:create'
alias rdd='rake db:drop'
alias rdr='rake db:rollback'
alias rdst='rake db:setup'
alias rdm='rake db:migrate'
alias rds='rake db:seed'
alias rr='rake routes'

alias rsp='rspec'
alias jasmine='RAILS_ENV=test bundle exec rake spec:javascript'

alias ts='tig status'

marks=~/.aliases.local; [ -f $marks ] && . $marks
