.config/i3/config.local
.vim/view
.vim/after/plugin/*.local.vim
.config/vifm/*.local.vifm
.config/vifm/vifminfo*
.config/vifm/vifm-help.txt
.config/vifm/scripts
.config/vifm/trash
.Xresources.local
*~
