.config/i3/config
.config/i3/config.local
.vim/plugins
.vim/view
.vim/autoload/plug.vim*
.vim/bundle/local.vim
.vim/plugin/settings/*.local.vim
.config/vifm/*.local
.config/vifm/vifminfo*
.config/vifm/vifm-help.txt
.config/vifm/scripts
.config/vifm/trash
.Xresources.local
*~
