.i3/config
.i3/config.local
.vim/plugins
.vim/view
.vim/autoload/plug.vim
.vim/options.local.vim
.vim/plugins.local.vim
.vifm/vifmrc.local
.vifm/commands.local
.vifm/filetypes.local
.vifm/mappings.local
.vifm/marks.local
.vifm/vifminfo*
.vifm/vifm-help.txt
.vifm/scripts
.Xresources.local
*~
