xterm*faceName: Monospace
xterm*faceSize: 10
xterm*boldMode: false
xterm*allowBoldFonts: false
xterm*background: rgb:00/00/00
xterm*foreground: rgb:ff/ff/ff
xterm*scrollBar: true
xterm*selectToClipboard: true
xterm*rightScrollBar: true
xterm*alwaysUseMods: true
xterm*scrollKey: true
xterm*fastScroll: true
xterm*jumpScroll: true
xterm*multiScroll: true
xterm*loginShell: true
xterm*saveLines: 4096
xterm*metaSendsEscape: false
xterm*eightBitInput: false
xterm*utf8Title: true
xterm*VT100.Translations: #override \n\
    Ctrl Shift <Key>v: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>c: select-end(CLIPBOARD) \n\
    Ctrl Shift <Key>y: select-end(CLIPBOARD) insert-selection(CLIPBOARD)

URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.font: xft:Monospace:size=10
URxvt.boldFont: xft:Monospace:size=10
URxvt.letterSpace: -1
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: xterm
URxvt.scrollTtyOutput: true
URxvt.loginShell: true
URxvt.saveLines: 4096
URxvt.iso14755: false
URxvt.perl-ext: clipboard
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
