xterm*faceName: Monospace
xterm*faceSize: 10
xterm*boldMode: false
xterm*allowBoldFonts: false
xterm*background: rgb:00/00/00
xterm*foreground: rgb:ff/ff/ff
xterm*scrollBar: true
xterm*selectToClipboard: true
xterm*rightScrollBar: true
xterm*alwaysUseMods: true
xterm*scrollKey: true
xterm*fastScroll: true
xterm*jumpScroll: true
xterm*multiScroll: true
xterm*loginShell: true
xterm*saveLines: 4096
xterm*metaSendsEscape: false
xterm*eightBitInput: false
xterm*utf8Title: true
xterm*VT100.Translations: #override \n\
    Ctrl Shift <Key>v: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>c: select-end(CLIPBOARD) \n\
    Ctrl Shift <Key>y: select-end(CLIPBOARD) insert-selection(CLIPBOARD)

URxvt.termName: xterm
URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.font: xft:Monospace:size=10
URxvt.boldFont: xft:Monospace:size=10
URxvt.letterSpace: -1
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollTtyOutput: true
URxvt.loginShell: true
URxvt.saveLines: 4096
URxvt.iso14755: false
URxvt.perl-ext: clipboard,matcher,searchable-scrollback
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.url-launcher: sensible-browser
URxvt.matcher.button: 1
URxvt.print-pipe: cat > $HOME/$(echo urxvt-$(date +'%Y-%m-%d-%H-%M-%S'))


! Srcery
! https://github.com/roosta/vim-srcery

! special
*.foreground:   #fce8c3
*.background:   #1c1b19
*.cursorColor:  #fce8c3

! black
*.color0:       #1c1b19
*.color8:       #2d2b28

! red
*.color1:       #ef2f27
*.color9:       #f75341

! green
*.color2:       #519f50
*.color10:      #98bc37

! yellow
*.color3:       #fbb829
*.color11:      #fed06e

! blue
*.color4:       #2c78bf
*.color12:      #68A8E4

! magenta
*.color5:       #e02c6d
*.color13:      #ff5c8f

! cyan
*.color6:       #0aaeb3
*.color14:      #53fde9

! white
*.color7:       #918175
*.color15:      #fce8c3

#include "./.Xresources.local"
